[Unit]
Description=WLAN Power Management Off
After=multi-user.target

[Service]
Type=idle
ExecStart=/home/pi/opt/rtools/bin/raspbian/wlan-pm-off

[Install]
WantedBy=multi-user.target
