snippet ainc
	#include <android/log.h>

snippet alog
	__android_log_print(ANDROID_LOG_INFO, "gibaek", "++++ ${1}msg");

snippet cinc
	#include "base/logging.h"

snippet clog
	LOG(INFO) << "++++ ${1}msg";
